<div class="row">
  <div class="col-md-6">
    <%= image_tag image_path "covers/#{@book.id}.jpg" %>
  </div>
  <div class="col-md-6">
    <%= render 'information' %>
    <%= render 'operation' %>
  </div>
</div>
