<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "設定",   '#' %></li>
        <li><%= link_to "ログアウト", '#' %></li>
      </ul>
    </nav>
</header>
