<ul class="nav nav-sidebar">
  <li class="active"><a href="#">ホーム</a></li>
  <li><a href="#">貸出・返却</a></li> 
  <li><a href="#">新規登録</a></li> 
  <li><a href="#">蔵書検索</a></li>
  <li><a href="#">貸出中リスト</a></li>
</ul>
